.friend-list {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-around; /* це додає відступи між елементами */
}

/* Ці стилі не обов'язкові, але можуть додатково стилізувати ваш компонент FriendList */
.friend-list-item {
  margin-bottom: 15px; /* відступ між елементами списку */
}
